<div class="w-[53.2rem] sm:w-[35rem]">
  @if (currentPhotoUrl$ | async; as currentPhotoUrl) {
    <button
      class="attraction-photo rounded-lg w-full h-[63.2rem] sm:h-[45rem] bg-center bg-cover mb-[1rem] relative"
      [style.background-image]="'url(' + currentPhotoUrl + ')'"
      (click)="openModal(currentPhotoUrl)"
      aria-label="Open photo"
    >
      <div
        class="overlay absolute hover:bg-bg_sixth/20 w-full h-full left-0 top-0 hidden justify-center items-center transition-all"
      >
        <img src="assets/search.svg" alt="Scale" class="w-[5rem] h-[5rem]" />
      </div>
    </button>
  }

  <div class="album-container w-full h-[14rem] relative overflow-x-auto">
    <div
      class="absolute attraction-album flex justify-center items-start gap-[0.8rem]"
    >
      @for (photo of photos; track photo.lg) {
        <button
          class="attraction-album__item rounded-sm min-w-[10.7rem] h-[12rem] bg-center bg-cover"
          [style.background-image]="'url(' + photo.sm + ')'"
          (click)="setCurrentPhotoUrl(photo.lg)"
          aria-label="Set photo"
        ></button>
      }
    </div>
  </div>
</div>
@if (isFullMode) {
  <app-modal (closeModal)="closeModal()">
    <div class="relative">
      <img
        class="attraction-photo rounded-lg min-w-[80vw] max-h-[80vh] min-h-[54rem] object-cover"
        [src]="modalPhotoUrl$ | async"
        alt="Full mode photo"
      />
      <button
        class="absolute left-[1rem] top-[50%] -translate-y-[50%] hover:scale-105 active:scale-100 bg-base_primary/20 p-[0.5rem] rounded-sm"
        (click)="setPrevPhoto()"
      >
        <span class="pi pi-chevron-left text-base_fifth text-[5rem]"></span>
      </button>

      <button
        class="absolute right-[1rem] top-[50%] -translate-y-[50%] hover:scale-105 active:scale-100 bg-base_primary/20 p-[0.5rem] rounded-sm"
        (click)="setNextPhoto()"
      >
        <span class="pi pi-chevron-right text-base_fifth text-[5rem]"></span>
      </button>
    </div>
  </app-modal>
}
