<div
  class="car p-[0.7rem] text-lg border-base_border border-1 rounded-2xl w-[33.7rem] relative"
>
  <img
    [src]="isFavorite ? 'assets/fav-fill.svg' : 'assets/fav.svg'"
    alt="Favorite"
    class="favorite absolute top-[1.7rem] right-[1.5rem] w-[2.6rem] h-[2.6rem]"
  />
  <img
    src="assets/stub/home.png"
    alt="Car"
    class="photo w-[32.3rem] h-[23rem] rounded-lg mb-[0.8rem]"
  />
  <p class="description text-base_secondary mb-[0.2rem]">
    Entire home in Bordeaux
  </p>
  <p class="title text-xl font-medium mb-[1rem]">Bordeaux Getaway</p>
  <div class="splitter h-[1px] w-[4.5rem] bg-base_third mb-[1rem]"></div>
  <div class="labels text-base_secondary mb-[0.2rem]">
    <span class="label">4-6 guests</span
    ><span class="dot-splitter text-2xl"> ∙ </span>
    <span class="label">Entire Home</span>
  </div>
  <div
    class="rating-container flex justify-center items-center w-fit mb-[1.5rem]"
  >
    <div class="stars flex justify-center items-center mr-[rem]">
      @for (item of ratingItems; track item) {
        <img
          src="assets/star.svg"
          alt="Star"
          class="star w-[1.3reb] h-[1.3rem] mr-[0.4rem]"
        />
      }
    </div>
    <div class="rating">4.0</div>
  </div>
  <div class="flex justify-between items-center mb-[0.2rem]">
    <div class="price">
      <span class="price-value text-2xl font-medium mr-[0.6rem]">$260</span
      ><span class="price-desc text-base_secondary">/night</span>
    </div>
    <div class="reviews">(318 reviews)</div>
  </div>
</div>
