<footer class="footer bg-bg_sixth pt-[5.7rem] pb-[6.4rem] text-base_fifth">
  <div class="wrapper-base flex justify-between items-start">
    <div class="contacts">
      <img
        src="assets/logo-light.png"
        alt="Logo"
        class="logo w-[12rem] h-[4.5rem] mb-[3rem]"
      />
      @for (contact of contacts; track contact.title) {
        <div class="contact-item mb-[1rem] flex justify-start items-center">
          <img
            [src]="contact.url"
            [alt]="contact.title"
            class="contact-item__icon mr-[1.8rem]"
          />
          <p class="contact-item__title max-w-[18rem]">{{ contact.title }}</p>
        </div>
      }
    </div>
    <div class="company max-w-[18rem]">
      <h4 class="company__title mb-[1rem] font-bold text-4xl">Company</h4>
      @for (company of companyLinks; track company.title) {
        <a
          class="company-item__title block mb-[1rem]"
          [href]="company.link"
          target="_blank"
          >{{ company.title }}</a
        >
      }
    </div>
    <div class="explore max-w-[18rem]">
      <h4 class="explore__title mb-[1rem] font-bold text-4xl">Explore</h4>
      @for (explore of exploreLinks; track explore.title) {
        <a
          class="explore-item__title block mb-[1rem]"
          [href]="explore.link"
          target="_blank"
          >{{ explore.title }}</a
        >
      }
    </div>
    <div class="hosting max-w-[18rem]">
      <h4 class="hosting__title mb-[1rem] font-bold text-4xl">Hosting</h4>
      @for (hosting of hostingLinks; track hosting.title) {
        <a
          class="hosting-item__title block mb-[1rem]"
          [href]="hosting.link"
          target="_blank"
          >{{ hosting.title }}</a
        >
      }
    </div>
    <div class="follow-us max-w-[18rem]">
      <h4 class="follow-us__title mb-[1rem] font-bold text-4xl">Follow Us</h4>
      <div class="follow-us-links flex justify-start items-center">
        @for (followUs of followUsLinks; track followUs.url) {
          <a
            class="follow-us-item__title mr-[1.2rem] hover:scale-[105%]"
            [href]="followUs.link"
            target="_blank"
            ><img [src]="followUs.url" alt="Social media"
          /></a>
        }
      </div>
    </div>
  </div>
</footer>
