<div class="details-container max-w-[135rem] px-[2rem] m-auto mt-[5.7rem]">
  @if (stayInfo$ | async; as stayInfo) {
    <div class="main flex justify-between gap-[6.6rem] mb-[6.7rem]">
      <app-slider [photos]="stayInfo.photos" />
      <div class="main-info basis-1/2 w-full">
        <div class="host flex items-center justify-start mb-[1.6rem]">
          <img
            src="assets/details/reward.svg"
            alt="Host"
            class="host__img w-[1rem] h-[1.6rem] mr-[1rem]"
          />
          <h3 class="host__title text-base_third">Host Name</h3>
        </div>
        <p class="stay-title font-bold text-4xl mb-[1.5rem]">
          {{ stayInfo.name }}
        </p>
        <div class="location flex items-center justify-start mb-[1rem]">
          <img
            src="assets/details/map.svg"
            alt="Location"
            class="location__img w-[0.9rem] h-[1rem] mr-[1rem]"
          />
          <p class="location__title text-base_secondary font-light">
            {{ stayInfo.city }}
          </p>
        </div>
        <div
          class="statistic-info flex items-center justify-between pb-[2.7rem] border-b-1 border-base_border mb-[2.7rem]"
        >
          @if (stayInfo.rating) {
            <app-rating [rating]="stayInfo.rating" class="mr-[1.2rem]" />
          }
          <div class="reviews">{{ '(' + stayInfo.reviews + ' reviews)' }}</div>
        </div>
        <div class="where mb-[2.5rem]">
          <h3 class="where__title font-bold text-3xl mb-[1.8rem]">Where</h3>
          <div class="location flex items-center justify-start mb-[1rem]">
            <img
              src="assets/details/map.svg"
              alt="Location"
              class="location__img w-[1.7rem] h-[1.8rem] mr-[1.7rem]"
            />
            <p class="location__title text-lg">
              {{ stayInfo.location }}
            </p>
          </div>
        </div>

        <div class="reservation mb-[2.5rem]">
          <div
            class="reservation mb-[2.5rem] font-bold text-3xl flex justify-between items-center"
          >
            <p class="reservation__nights mr-[2rem]">
              {{ stayInfo.nights }}
              <span> nights</span>
            </p>
            <p class="price">{{ stayInfo.price }}$</p>
          </div>

          <p class="reservation__period text-base_secondary font-light text-md">
            {{ stayInfo.arrival_date + ' - ' + stayInfo.departure_date }}
          </p>
        </div>
        <div
          class="calendar h-[30rem] w-full border-b-1 border-base_border mb-[2.5rem]"
        >
          <div [formGroup]="dateRange">
            <p-calendar
              [showIcon]="true"
              selectionMode="range"
              [inline]="true"
              formControlName="date"
              class="rounded-sm relative -z-10 border-2 w-fit border-base_border text-base outline-none"
            ></p-calendar>
          </div>
        </div>
        <app-stay-specs [specs]="stayInfo.specs" />
      </div>
    </div>
    <div class="cancellation mb-[5.1rem]">
      <h3 class="cancellation__title font-bold text-3xl mb-[1.8rem]">
        Cancellation policy
      </h3>
      <div class="cancellation__descr flex items-start justify-start">
        <div
          class="cancellation__img rounded-md bg-bg_secondary w-[4rem] h-[4rem] flex items-center justify-center mr-[2.1rem]"
        >
          <img
            src="assets/details/cancellation-smile.svg"
            alt="Cancellation"
            class="w-[2rem] h-[2rem]"
          />
        </div>
        <div class="cancellation__info">
          <p class="cancellation__friendly font-medium text-2xl leading-[2rem]">
            {{ stayInfo.cancellation.type }}
          </p>
          @if (stayInfo.cancellation.before) {
            <p class="cancellation__term text-xl">
              {{ 'Full refund before ' + stayInfo.cancellation.before }}
            </p>
          } @else {
            <p class="cancellation__term text-xl">
              {{ stayInfo.cancellation.type }}
            </p>
          }
        </div>
      </div>
    </div>
    <div class="amenities mb-[5.2rem]">
      <h3 class="amenities__title font-bold text-3xl mb-[3rem]">Amenities</h3>
      <div
        class="amenities-items flex items-start justify-start gap-[2rem] flex-wrap"
      >
        @for (facility of stayInfo.facilities; track facility) {
          <p
            class="amenities-item w-[14.7rem] min-h-[11.8rem] h-full px-[1.6rem] py-[2.5rem] border-1 border-base_border rounded-lg font-medium text-xl"
          >
            {{ facility }}
          </p>
        }
      </div>
    </div>
    <div
      class="description pb-[5.5rem] border-b-1 border-base_border mb-[3.5rem]"
    >
      <h3 class="description__title font-bold text-3xl mb-[2.5rem]">
        Description
      </h3>
      <p class="description__content text-xl text-base_secondary">
        {{ stayInfo.description }}
      </p>
    </div>
    <app-stay-reviews [stayId]="stayInfo.id" />
  } @else if (isLoading$ | async) {
    <div class="mt-[35vh] h-full flex justify-center items-center w-full">
      <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
    </div>
  } @else {
    <p class="error-message mt-[35rem]">Something went wrong</p>
  }
</div>
