<div class="filters flex justify-start items-end mb-[3.2rem]">
  <div class="input-item max-w-[32rem] mr-[1.1rem]">
    <div class="input-title font-medium text-sm mb-[0.6rem]">Where</div>
    <label>
      <div
        class="input-container h-[3.3rem] px-[1.4rem] flex justify-start items-center border-2 border-base_border rounded-sm text-base"
      >
        <img
          src="assets/map.svg"
          alt="Map"
          class="w-[1.1rem] h-[1.4rem] mr-[1.4rem]"
        />
        <input
          type="text"
          class="input_place h-full w-full outline-none"
          placeholder="City, postcode, address, airport or hotel"
        />
      </div>
    </label>
  </div>

  <div class="input-item max-w-[32rem] mr-[1.1rem]">
    <div class="input-title font-medium text-sm mb-[0.6rem]">From</div>
    <input
      type="date"
      class="input_place h-[3.3rem] w-full px-[1.4rem] border-2 border-base_border rounded-sm text-base outline-none"
    />
  </div>

  <div class="input-item max-w-[32rem] mr-[1.1rem]">
    <input
      type="time"
      class="input_place h-[3.3rem] w-full px-[1.4rem] border-2 border-base_border rounded-sm text-base outline-none"
    />
  </div>

  <div class="input-item max-w-[32rem] mr-[1.1rem]">
    <div class="input-title font-medium text-sm mb-[0.6rem]">Until</div>
    <input
      type="date"
      class="input_place h-[3.3rem] w-full px-[1.4rem] border-2 border-base_border rounded-sm text-base outline-none"
    />
  </div>

  <div class="input-item max-w-[32rem] mr-[1.1rem]">
    <input
      type="time"
      class="input_place h-[3.3rem] w-full px-[1.4rem] border-2 border-base_border rounded-sm text-base outline-none"
    />
  </div>
</div>
