<div class="flights flex flex-col justify-center gap-[2rem]">
  @for (flight of flights$ | async; track flight.id) {
    <app-flight [flight]="flight" />
  } @empty {
    @if ((isLoadingFlights$ | async) === false) {
      <div class="m-auto">Flights not found.</div>
    }
  }
</div>

@if (isLoadingFlights$ | async) {
  <div class="mt-[25vh] h-full flex justify-center items-center w-full">
    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
  </div>
} @else if ((flights$ | async)?.length) {
  @if (totalCount | async; as totalCount) {
    <p-paginator
      (onPageChange)="setNextPage($event)"
      [first]="flightsSearchParams ? (flightsSearchParams.page - 1) * 15 : 0"
      [rows]="15"
      [totalRecords]="totalCount"
      [showJumpToPageDropdown]="true"
      styleClass="text-sm mt-[2rem]"
    ></p-paginator>
  }
}
