<div class="flights base-grid">
  @for (flight of flights$ | async; track flight.id) {
    <app-flight [flight]="flight" />
  } @empty {
    @if ((isLoadingFlights$ | async) === false) {
      Flights not found.
    }
  }
</div>

@if (!(flights$ | async)?.length && (isLoadingFlights$ | async)) {
  <div class="mt-[25vh] h-full flex justify-center items-center w-full">
    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
  </div>
} @else if ((flights$ | async)?.length) {
  @if (isLoadingFlights$ | async) {
    <button
      class="btn-base btn-disabled w-[15.5rem] h-[4rem] m-auto my-[3.5rem]"
    >
      <app-mini-loader color="#ffffff" />
    </button>
  } @else {
    <button
      class="btn-base w-[15.5rem] h-[4rem] m-auto my-[3.5rem]"
      (click)="setNextPage()"
    >
      Show More
    </button>
  }
}
