<div class="attractions base-grid">
  @for (attraction of attractions$ | async; track attraction.id) {
    <app-attraction [attraction]="attraction" />
  } @empty {
    @if ((isLoadingAttractions$ | async) === false) {
      Attractions not found.
    }
  }
</div>

@if (isLoadingAttractions$ | async) {
  <div class="mt-[25vh] h-full flex justify-center items-center w-full">
    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
  </div>
} @else if ((attractions$ | async)?.length) {
  @if (totalCount | async; as totalCount) {
    <p-paginator
      (onPageChange)="setNextPage($event)"
      [first]="
        attractionsSearchParams ? (attractionsSearchParams.page - 1) * 20 : 0
      "
      [rows]="20"
      [totalRecords]="totalCount"
      [showJumpToPageDropdown]="true"
      styleClass="text-sm"
    ></p-paginator>
  }
}
