<div
  class="attraction flex flex-col justify-start p-[0.7rem] text-lg border-base_border border-1 rounded-2xl w-[33.7rem] h-full relative"
>
  <img
    [src]="isFavorite ? 'assets/fav-fill.svg' : 'assets/fav.svg'"
    alt="Favorite"
    class="favorite absolute top-[1.7rem] right-[1.5rem] w-[2.6rem] h-[2.6rem]"
  />
  <div
    class="photo w-[32.3rem] h-[23rem] rounded-lg mb-[0.8rem] bg-center bg-cover"
    [style.background-image]="'url(assets/home/boat.jpg)'"
  ></div>
  <div class="mb-[1.6rem] flex justify-between items-center">
    <p class="location mr-auto">{{ 'CHICAGO, IL' | uppercase }}</p>
    <app-rating [rating]="3.1" />
  </div>
  <p class="title font-medium text-xl mb-[1rem]">
    Luxury 40' 2010 Multi Level Yacht. Hourly rate includes Captain fee!!!
  </p>
  <div class="info flex justify-start items-center mt-auto mb-[1rem]">
    <div class="term mr-[1.6rem]">4 - 6 hours</div>
    <div class="capitan">Captained</div>
  </div>
  <div class="mb-[1.1rem]">
    <span class="price-value text-2xl font-medium mr-[0.6rem]">$260 +</span
    ><span class="price-desc text-base_secondary"> /hour</span>
  </div>
  <div class="capacity mb-[0.2rem]">Up to 12 passengers</div>
</div>
