<div class="specification">
  <h3 class="specification__title font-bold text-3xl mb-[1.4rem]">
    Specifications
  </h3>
  <div
    class="specification-items flex items-center justify-start gap-[2rem] flex-wrap"
  >
    @for (spec of specifications(); track spec.name) {
      <div
        class="specification-item w-[20rem] h-[11rem] px-[1.6rem] pt-[2.1rem] border-1 border-base_border rounded-lg"
      >
        <h4 class="specification-item__title mb-[2.8rem] text-base_third">
          {{ spec.name }}
        </h4>
        <p class="specification-item__description font-medium text-xl">
          {{ spec.value }}
        </p>
      </div>
    }
  </div>
</div>
