//google maps

.mapboxgl-popup-close-button {
  right: 6px !important;
}

.mapboxgl-popup-content {
  font-size: 14px;
  padding: 13px 10px 15px !important;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  display: none;
}
