<div class="stays base-grid">
  @for (stay of stays$ | async; track stay.id) {
    <app-stay [stay]="stay" />
  } @empty {
    @if ((isLoadingStays$ | async) === false) {
      Stays not found.
    }
  }
</div>

@if (!(stays$ | async)?.length && (isLoadingStays$ | async)) {
  <div class="mt-[30vh] h-full flex justify-center items-center w-full">
    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
  </div>
} @else if ((stays$ | async)?.length) {
  @if (isLoadingStays$ | async) {
    <button
      class="btn-base btn-disabled w-[15.5rem] h-[4rem] m-auto my-[3.5rem]"
    >
      <app-mini-loader color="#ffffff" />
    </button>
  } @else {
    <button
      class="btn-base w-[15.5rem] h-[4rem] m-auto my-[3.5rem]"
      (click)="setNextPage()"
    >
      Show More
    </button>
  }
}
