.intro-summary,
.garage,
.homes-find,
.attractions-browse {
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: -2;

  &::before {
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    background-color: #000000;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.intro-summary {
  background-image: url('../../../assets/home/cars/helm.jpg');
}

.garage {
  background-image: url('../../../assets/home/cars/garage.jpg');
}

.homes-find {
  background-image: url('../../../assets/home/homes/beach.jpg');
}

.attractions-browse {
  background-image: url('../../../assets/home/attractions/view.jpg');
}

.text-title {
  font-family: 'Roboto Bold';
  font-size: 3rem;
  line-height: 3.4rem;
}

.text-descr {
  font-size: 1.6rem;
  color: #7e7e7e;
  line-height: 1.8rem;
}

.shadow-layer {
  position: relative;
  z-index: -2;

  &::before {
    content: '';
    position: absolute;
    background-color: #000000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
