<div class="cars base-grid">
  @for (car of cars$ | async; track car.id) {
    <app-car [car]="car" />
  } @empty {
    @if ((isLoadingCars$ | async) === false) {
      Cars not found.
    }
  }
</div>

@if (!(cars$ | async)?.length && (isLoadingCars$ | async)) {
  <div class="mt-[16rem] h-full flex justify-center items-center w-full">
    <app-loader />
  </div>
} @else if ((cars$ | async)?.length) {
  <button
    class="btn-base w-[15.5rem] h-[4rem] m-auto my-[3.5rem]"
    (click)="setNextPage()"
  >
    Show More
  </button>
}
