@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Roboto Bold';
  src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url('./assets/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

html {
  font-size: 10px;
  font-family: 'Roboto Regular', sans-serif;
  color: #000000;
  background-color: #ffffff;
}

body {
  font-size: 1.4rem;
}

//wrappers

.wrapper-base {
  max-width: 124.2rem;
  width: 100%;
  margin: auto;
}

//scrollbar

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dark ::-webkit-scrollbar-track {
  background: #1a1c1e;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

//base grid

.base-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33.7rem, 1fr));
  justify-items: center;
  column-gap: 2.4rem;
  margin-bottom: 1rem;
  row-gap: 1.1rem;
}

//buttons

.btn-base {
  border-radius: 0.8rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #675dfe;
  transition: all 0.1s linear;
  color: #ffffff;

  &:hover {
    transform: scale(102%);
  }
}

//links

a {
  &:hover {
    color: #675dfe;
  }
}

//form validation

.invalid__message {
  position: absolute;
  color: rgb(239 68 68);
  left: 0;
  bottom: 0;
  transform: translateY(105%);
}

.btn-disabled {
  opacity: 0.7;
  cursor: default;
}
