@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';

@font-face {
  font-family: 'Roboto Bold';
  src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('./assets/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Regular';
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Light';
  src: url('./assets/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

:root {
  font-family: 'Roboto Regular', sans-serif;
}

html {
  font-size: 10px;
  color: #000000;
  background-color: #ffffff;
}

body {
  font-size: 1.4rem;
}

//wrappers

.wrapper-base {
  max-width: 124.2rem;
  width: 100%;
  margin: auto;
}

//scrollbar

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.dark ::-webkit-scrollbar-track {
  background: #1a1c1e;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

//base grid

.base-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33.7rem, 1fr));
  justify-items: center;
  column-gap: 2.4rem;
  margin-bottom: 1rem;
  row-gap: 1.1rem;
}

//buttons

.btn-base {
  border-radius: 0.8rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #675dfe;
  transition: all 0.1s linear;
  color: #ffffff;

  &:hover {
    transform: scale(102%);
  }
}

//links

a {
  &:hover {
    color: #675dfe;
  }
}

//form validation

.invalid__message {
  position: absolute;
  color: rgb(239 68 68);
  left: 0;
  bottom: 0;
  transform: translateY(105%);
}

.btn-disabled {
  opacity: 0.7;
  cursor: default;
}

//error message

.error-message {
  font-size: 1.8rem;
  font-family: 'Roboto Regular';
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

//google maps

.mapboxgl-popup-close-button {
  right: 6px !important;
}

.mapboxgl-popup-content {
  font-size: 14px;
  padding: 13px 10px 15px !important;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib {
  display: none;
}

//prime-ng datepicker

.p-datepicker table td.p-datepicker-today > span {
  background: #675dfe;
  color: #d1d5db;
  border-color: transparent;
}

.p-calendar {
  height: 100%;
}

.p-calendar .p-inputtext {
  padding: 0 1.4rem;
}

.p-icon {
  width: 1.6rem;
  height: 1.6rem;
}

.p-input-icon-left > i,
.p-input-icon-left > .p-icon-wrapper,
.p-input-icon-right > i,
.p-input-icon-right > .p-icon-wrapper {
  position: absolute;
  top: 50%;
  margin-top: -0.8rem;
}

.p-datepicker table td > span {
  border-radius: 0.3rem;
}

.p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #bfdbfe;
  border-color: #3b82f6;
}

//prime-ng slider

@layer {
  .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: theme('colors.base_third');
  }
}
